input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
textarea,
select {
    font-size: 17px;
    outline: none;
    border: 1px solid #ccc;
    color: black;
    transition: 0.2s all ease-in-out;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    transition: 0.2s all ease-in-out;
    box-shadow: 0 0 5px grey;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

#app-bar {
    z-index: 100;
    box-shadow: 0px 0px 5px grey;
    margin-bottom: 20px;

    a {
        text-decoration: none;
    }

    .search-bar {
        height: 35px;
        display: flex;
        width: 100%;
        max-width: 700px;

        select {
            background-color: var(--primary);
            color: white;
            border-radius: 5px 0px 0px 5px;
            border: none;
            padding-left: 10px;

            option {
                color: black;
                background-color: white;
            }
        }


        button {
            border-radius: 0px 5px 5px 0px;
            width: 50px;
            height: 100%;
            border: none;
            cursor: pointer;
            background-color: var(--primary);

            svg {
                * {
                    color: white;
                }
            }

            &:hover {
                box-shadow: 0px 0px 5px grey;
            }

        }


        input {
            padding-left: 10px;
            width: 100%;
            // background-color: rgba(201, 201, 201, 0.826);
            background-color: white;
            color: black;
        }
    }

    .l1 {
        background-color: var(--my-color);
        padding: 0px 10px;
        display: flex;
        flex: none;
        position: static;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        a {
            color: white;
        }

        .logo,
        .search-bar,
        .connexion,
        .shopping-cart {
            padding: 0px 10px;
            margin: 0px 10px;
            display: flex;
        }

        .logo {
            transition: 0.2s;
            font-size: 30px;
        }

        .shopping-cart,
        .connexion {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.2s;

            background-color: var(--primary);

            * {
                color: white;
            }

            &:hover {
                transition: 0.2s;
                box-shadow: 0px 0px 10px white;
            }

            svg {
                margin: 5px;
                height: 20px;
                width: 20px;
            }
        }

    }

    .l2-min {
        width: 100%;
        display: none;
        padding: 10px;
        border-top: 2px solid rgb(255, 255, 255, 0.5);
        background-color: var(--my-color-2);
    }

    .l2 {
        border-top: 2px solid rgb(255, 255, 255, 0.5);
        display: flex;
        background-color: var(--my-color-2);
        height: 40px;

        a {
            width: fit-content;
            color: white;
        }

        .menu-toggle-open {
            cursor: pointer;
            margin-left: 20px;

            svg {
                height: 40px;
                width: 40px;

                * {
                    color: white;
                }
            }
        }

        .category-list {

            display: flex;
            align-items: center;
            overflow-y: hidden;
            width: fit-content;

            .category {
                width: fit-content;
                display: flex;
                justify-content: center;
                margin: 5px;
                padding: 0px 5px;
                text-wrap: nowrap;
                transition: 0.1s;

                &:hover {
                    transition: 0.1s;
                    color: var(--primary);
                    outline: 5px solid var(--primary);
                }
            }
        }

    }
}

@media screen and (max-width: 700px) {

    #app-bar {
        .l1 {

            .logo {
                transition: 0.2s;
                font-size: 25px;
            }

            .search-bar {
                display: none;
            }

            .connexion {
                span {
                    display: none;
                }
            }
        }

        .l2-min {
            width: 100%;
            display: flex;
        }
    }

}