.items-filter {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    position: sticky;
    top: 50px;
    max-width: min-content;
    height: max-content;

    @media screen and (max-width: 700px) {
        display: none;
    }

    .filter-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .filter-item {
            text-wrap: nowrap;
            border: 1px solid grey;
            margin: 5px;
            padding: 0px 5px 0px 5px;
            border-radius: 5px;
            white-space: nowrap;
        }
    }
}