#detail {
    .l-1 {
        display: flex;
        // justify-content: center;
        // align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;

        .col-1 {
            // border: 2px solid red;
            // background-color: red;
            // display: flex;
            // flex-direction: column;
            width: max-content;

            .image {
                // max-width: 300px;
                // min-width: 200px;
                padding: 20px;
                display: flex;
                justify-content: center;
                // background-color: red;

                img {
                    width: 300px;
                    border-radius: 20px;
                    // background-color: var(--primary);
                }
            }
        }

        .col-2 {
            flex: 1;
            width: 100%;
            // min-width: 500px;
            border: 2px solid green;
            border-radius: 20px;
            padding: 20px;
        }
    }
}

@media screen and (max-width: 700px) {
    #detail {
        .l-1 {
            flex-direction: column;

            .col-1 {
                width: 100%;
            }
        }
    }
}