#detail {
    margin-top: 20px;

    .l-1 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 70px;
        width: 100%;

        .col-1 {
            border-radius: 20px;
            width: max-content;

            @media screen and (max-width : 950px) {
                display: flex;
            }

            @media screen and (max-width : 650px) {
                display: block;
            }

            .image {
                padding-top: 20px;
                display: flex;
                justify-content: center;

                img {
                    width: 300px;
                    border-radius: 20px;
                }
            }

            .icon {
                border-radius: 50%;
                border: 1px solid rgb(213, 215, 216);

                &:hover {
                    background-color: rgb(243, 243, 243);
                }
            }

            .myButton {
                max-width: max-content;
            }

            .title {
                max-width: 500px;
            }
        }

        .col-2 {
            flex: 1;
            min-width: 500px;
            border: 2px solid grey;
            border-radius: 20px;
            padding: 20px;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 950px) {
    #detail {
        .l-1 {
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;

            .col-1 {
                width: 100%;
                padding: 0;
            }

            .col-2 {
                min-width: 100%;
            }
        }
    }
}