#detail {
    .l-1 {
        display: flex;
        // justify-content: center;
        // align-items: center;
        // padding-left: 50px;
        // padding-right: 50px;
        width: 100%;

        .col-1 {
            // background-color: red;
            display: flex;
            flex-direction: column;
            max-width: max-content;
            width: 100%;
            padding: 20px;

            .image {
                max-width: 400px;
                display: flex;
                justify-content: center;

                img {
                    width: 100%;
                    border-radius: 20px;
                    background-color: orange;
                }
            }
        }

        .col-2 {
            min-width: max-content;
            // display: flex;
            background-color: green;
        }
    }
}