#home-page {
    padding: 10px 10px 0px 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;



    .sec1 {
        height: max-content;
        margin-bottom: 10px;
        background-position: center;
    }

    .sec2 {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    #home-page {
        padding: 0px;

        .sec1 {
            padding: 10px 0px;
            background: url('../../assets/backgrounds/back.jpeg');
            box-shadow: 0px 0px 10px black;
        }
    }
}